<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<style>
  body {
    background-color: #e3e5eb;
  }
 
/*navigation bar*/
.topnav {
  overflow: hidden;
  background-color: #123d3d
}
.topnav a {
  float: left;
  color: #f3ecec;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: rgb(119, 114, 114);
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>

<body>
    <div class="topnav">
    <a href="accounts/register">Admin Register</a>
    <a href="accounts/login">Admin Login</a>
    <a href="accounts/sample">User Registration</a> 
    </div> 
    
</body>
</html>