<div class="user-details p-3">
    <div>
        First name: {{ userdetailsmodel.fname }}
    </div>

    <div>
        Last name: {{ userdetailsmodel.lname }}
    </div>

    <div>
        Middle name: {{ userdetailsmodel.mname }}
    </div>

    <div>
        Date of Birth: {{ userdetailsmodel.dateofbirth }}
    </div>

    <div>
        Email Id: {{ userdetailsmodel.email }}
    </div>

    <div>
        Gender: {{ userdetailsmodel.gender }}
    </div>

    <div>
        Country: {{ userdetailsmodel.country }}
    </div>
    
    <div>
        State: {{ userdetailsmodel.state }}
    </div>

    <div>
        Created Timestamp: {{ userdetailsmodel.created }}
    </div>

</div>